<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Trees</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <span>
                <div ng-repeat="(key, value) in pushers" ng-show="mapping">
                    Mac: {{key}}
                    <div ng-repeat="strip_no in [] | range:value.numberStrips | non_ignored:this">
                        Strip: {{strip_no}}
                        <md-button class="md-raised" ng-click="light(key, strip_no)">Light</md-button>
                        <md-button class="md-raised md-warn" ng-click="ignore(key, strip_no)">
                            Ignore
                        </md-button>
                    </div>
                </div>
                </span>
            </md-whiteframe>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </div>
    </form>
</md-dialog>